.menu-container{
  display:flex;
  align-items: right;
  float: right;
  padding-right: 50px;
}
  
.menu-items{
  margin: 20px;
  font-size: 25px;

}

.shop-body{
  display: flex;
  justify-content: center;
}



.cart-container{
  display:flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  min-width: 30%;
  min-height: 20px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position:relative;
  margin-bottom: auto;
}

.cart-items{
  text-align: left;
  display: flex;
  margin: 10px;
  padding: 0px 15px 0px 10px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: rgb(255, 255, 156);
}

.cart-items p{
  word-wrap: break-word;
  font-size: 20px;
  max-width: 70%;
  margin: 0;
}

.cart-deets{
  margin: 20px 0px 20px 0px;
}

.remove-item{
  height: 50px;
  width: 50px;
  margin: 10px 0px 10px 0px;
}